<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://cxf.apache.org/jaxws
    http://cxf.apache.org/schemas/jaxws.xsd">
    <import resource="cxf/cxf.xml"/>
    <import resource="cxf/cxf-servlet.xml"/>
    <import resource="cxf/cxf-extension-jaxws.xml"/>
    <jaxws:endpoint id="ZHNMS_Service" implementor="com.jec.module.extern.impl.NTNMS_ServiceImpl" address="/ZHNMS_Service"/>
    <!--<jaxws:client id="helloClient"-->
                  <!--serviceClass="com.jec.module.extern.Client_Service"-->
                  <!--address="http://localhost:8080/HelloWorld" />-->
    <!--<jaxws:inInterceptors>-->
        <!--<bean id="soapPreInteceptor" class="com.jec.module.inteceptor.SoapPreInteceptor"/>-->
        <!--<bean id="SoapPostInteceptor" class="com.jec.module.inteceptor.SoapPostInteceptor"/>-->
    <!--</jaxws:inInterceptors>-->
</beans>