body{
	text-align: center;
	font-family: SimSun;
	/*background: #f3f6fc;*/
}

th, td{
	text-align: center;
}
a{
	cursor: pointer;
}
.navbar{
	height: 40px;
}

.navbar-vertical {
	width: 100px;
}

.sys_time{
	float:left;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 100px;
	height: 60px;
}

.logout-btn{
	float:right;
	font-size: 16px;
	font-weight: bold;
	color: #843534;
	text-align: center;
	line-height: 50px;
	width: 100px;
	height: 50px;
	padding: 0 20px;
	cursor: pointer;
	position: relative;
	top: -70px;
}

.logout-btn:hover{
	color: #990000;
}

input[type=text], input[type=password]{
	min-width: 150px;
	max-width: 250px;
}

input[type=number]{
	min-width: 30px;
	max-width: 120px;
}

.time-input{
	border-radius: 4px;
}

.compact{
	margin: 2px;
}

.compact-inline{
	margin: 0 20px;
}

.compact-3{
	margin: 30px;
}

.label-3{
	width: 120px;
	margin: 5px 20px;
	float: left;

}
.label-nm-3{
	width: 120px;
	float: left;
}

.label-4{
	width: 80px;
	margin: 5px 20px;
	float: left;
}

.label-6{
	width: 50px;
	margin: 5px 20px;
	float: left;
}

.select-group {
	margin: 5px 10px;
	min-height: 30px;
}

.label-text {
	float: left;
	padding:0px 2px 0px 0px;
}

.n_input_text{
	float: left;
	height: 30px;
	line-height: 22px;
	padding: 0 3px;
	border: 1px solid #dedede;
	color:#666;
}

.login-topbar{
	background-color:#747F9A;
	width:100%;
	height:70px;
	font-size: 15px;
}
.login-logo{
	margin-top:15px;
	margin-left: 15px;
	padding-top: 12px;
	float: left;
}
.login-logo img{
	width: 40px;
	height: 40px;

}
.login-text{
	text-align: left;
	padding-left: 20px;
	padding-top: 27px;
	float: left;
	color: white;
}
.login-center{
	width: 33%;
	height: 350px;
	margin-left: 33%;
	margin-right: 33%;
	margin-top: 0;
	float: left;
}

.login-title{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 20px;
	font-weight:  bold;
	text-align: center;
}
.login-form{
	float: left;
}
.login-btn{
	width: 32%;
	margin-right: 10%;
	/*background: #8183a0;*/
	/*color: white;*/
}

.grid{
	width: 200px;
	height: 200px;
	margin: 7px;
	border: 1px solid #E6EBF2;
	background-color: #f9fafd;
	position: relative;
}

.grid-container{
	width: 100%;
	height: 780px;
	overflow: auto;
	margin: auto;
	display: block;
	position: relative;
}

.right-float{
	float:right
}
.left-float{
	float:left;
	display:inline;
}
.wrap-width{
	min-width: 900px;
	width: 85%;
}

.error-wrap{
	padding: 5px 15px;
	margin-bottom: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.hover{
	cursor: pointer;
}

.loading{
	width:160px;
	height:56px;
	position: absolute;
	top:50%;
	left:50%;
	line-height:56px;
	color:#fff;
	padding-left:60px;
	font-size:15px;
	background: #000 url(../img/loading.gif) no-repeat 10px 50%;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.rectangle{
	float:left;
	width: 25px;
	height: 25px;
	border: 1px solid gray;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.status-normal{
	background-color: greenyellow;
}

.status-error{
	background-color: red;
}

.status-unknown{
	background-color: lightgrey;
}

.status-network-error{
	background-color: yellow;
}

.table-list{
	text-overflow: ellipsis;
	padding-left: 8px;
	padding-bottom: 2px;
}

.table-list-item{
	float: left;
	background-color: #f3f3f3;
	border-radius: 4px;
	padding: 0 15px;
	margin-right: 4px;
	overflow: hidden;
	position: relative;
}

.list-height-2{
	margin-top: 4px;
	height: 40px;
	line-height: 20px;
}

#message-box-modal {
	z-index: 50000
}

#confirm-box-modal {
	z-index: 50000
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #DDDDDD;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #DDDDDD;
    -webkit-border-radius: 6px;
}